doctype html
html[lang="en"]
  head
    meta[charset="UTF-8"]
    title
      | Document
    link[rel="stylesheet" href="style.css"]
  body
    .content
      header.header
        nav
          ul
            li
              a[href="/"]
                | Home
            li
              a[href="/about"]
                | About
      .main
      footer.footer
