.content {
    margin: auto;
    width: 1500px;
    .header {
        height: 200px;
        background-color: #034379;
        nav {
            float: right;
            margin: 0 auto;
            padding-left: 15px;
            padding-right: 15px;
            ul {
                list-style: disc;
                li {
                    display: inline-block;
                    float: left;
                    a {
                        color: #ffffff;
                        display: block;
                        font-size: 16px;
                        margin: 0 15px;
                        padding: 10px 0;
                        text-decoration: inherit;
                        &:hover {
                            border-bottom: 2px solid #fff;
                        }
                    }
                }
            }
        }
    }

    .main {
        min-height: 500px;
    }

    .footer {
        height: 50px;
        background-color: #00132c;
    }
}
