doctype html
html
  head
    meta[charset="UTF-8"]
    title
      | Blog Hello World
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
  body
    .content
      header.header
        nav
          ul
            li
              a[href="/"]
                | Home
            li
              a[href="/about"]
                | About
      .main
        = yield
      footer.footer